#root {
  position:fixed;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  background: #f0f2f5;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* basic styles for the navbar */
nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  color: #ddd;
}

/* styling to make logout button look the same as the navbar  */

nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

nav ul li button:hover {
  color: #ddd;
}



/* Ensure content is below the navbar */
.content {
  margin-top: 0px;
  background: #f0f2f5;
  width: 100%;
  height: 100%;
}

.team-roll-call{
  font-family: "Poppins";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#f0f2f5;
  color: black;
  text-align: center;
}

.user-profile-card {
  border: solid 1px #ddd;
}