@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

#root {
  position:fixed;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  background: #f0f2f5;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* basic styles for the navbar */
.navbar {
  background-color: #1877f2;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-family: "Poppins", Verdana, sans-serif;
  color: #1877f2;
  background-color: white;
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 20px;
  position:left
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a,
.navbar ul li button {
  font-family: "Poppins", Verdana, sans-serif;
  color: white;
  background-color: #1877f2;
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.navbar ul li a:hover,
.navbar ul li button:hover {
  background-color: #1877f2;
  color: white;
}


/* Ensure content is below the navbar */
.content {
  margin-top: 0px;
  background: #f0f2f5;
  width: 100%;
  height: 100%;
}

.team-roll-call{
  font-family: "Poppins";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#f0f2f5;
  color: black;
  text-align: center;
}

.user-profile-card {
  border: solid 1px #ddd;
}