#root {
  position: relative;
  margin: 0;
  padding: 0;
  top:0;
  left:0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


.team-roll-call{
  font-family: "Poppins";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#f0f2f5;
  color: black;
  text-align: center;
}